* {
  font-family: 'DM Sans', sans-serif !important;
}

.brand-color-text {
    color: #382eec !important;
}

.brand-color-fill {
    color: #fff !important;
    background-color: #382eec !important;
}

.dropdown-item.is-active {
    background-color: #382eec !important;
}

.navbar-item {
  display: flex;
  color: #fff;
}

.navbar-item:hover {
  display: flex;
  color: #cccaff !important;
}

.navbar,
.navbar-menu,
.navbar-start,
.navbar-end {
  align-items: stretch;
  display: flex;
  padding: 0;
}

.navbar-menu{
  flex-grow: 1;
  flex-shrink: 0;
}
.navbar-start{
  justify-content: flex-start;
  margin-right: auto;
}
.navbar-end{
  justify-content: flex-end;
  margin-left: auto;
}

.is-dark{
    background-color: #232236 !important;
}

.aria-hidden {
    display: none
}

.star {
    text-decoration: none !important;
}

.one-line {
    /* overflow: hidden !important; */
    white-space: nowrap !important;
}

.modal-background {
    background: linear-gradient(-10deg, #268060 0%, #181447 100%);
    opacity: 0.9;
}  